$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$icon-color: #7E7E7E;
$primary-font: 'Roboto';
$special-font: 'Shrikhand', sans-serif;

header {
    height: 63px;
    & .logo {
        padding: 14px 0 13px;
    }
    & .return__container {
        text-decoration: none;
        color: black;
        display: flex;
        position: absolute;
        padding: 30px 18px;
        height: 25px;
    }
}

main {
    background-color: white;
}

.imgContainer {
    width: 100%;
    height: 275px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* ou contain, selon votre préférence */
        object-position: center; /* ou une autre valeur pour ajuster la position */
    }
}

.menuContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 40px 40px 0 0;
    margin-top: -55px;
    background-color: #F6F6F6;
    gap: 40px;
    &__header {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        width: 91%;
        gap: 27px;
        &--title {
            font-family: $special-font;
            font-size: 28px;
            font-weight: 400;
        }
        &--like {
            display: flex;
            align-self: center;
            width: 25px;
            height: 25px;    
            & .unfilledHeart,
            & .fullHeart {
                position: absolute;
                color: $main-color;
                background-color: #F6F6F6;
                display: block;
                transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            }
                    
            & .fullHeart {
                opacity: 0;
                transform: scale(0);
            }
                    
            &:hover {
                font-weight: bold;
                cursor: pointer;

                & .fullHeart {
                    opacity: 1;
                    transform: scale(1);
                }
                & .unfilledHeart {
                    opacity: 0;
                }
            }
        }
    }
    
    &__article {
        display: flex;
        flex-direction: column;
        width: 85%;
        border-radius: 20px;
        align-items: flex-start;
        gap: 12px;
    /* article header */    
        &--menuHeader {
            display: flex;
            flex-direction: column;
            gap: 2px;
            &Title {
            text-align: start;
            font-size: 16px;
            font-weight: 300;
            }
            &Underline {
                background-color: $third-color;
                width: 40px;
                height: 3px;            
            }
        }
        &--suggest {
            width: 100%;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 15px;
            gap: 5px;
            cursor: pointer;
            &Items {
                padding: 15px;
                width: inherit;
                &Title {
                    font-size: 18px;
                    font-weight: 500;
                }
                &Subtitle-Price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 15px;
                    width: inherit;
                    gap: 5px;
                    &--Subtitle {
                        font-weight: 300;
                    }
                    &--Price {
                        font-weight: 700;
                    }
                }
            }
            &Check {
                display: none;
                width: 0;
                position: relative;
            }
            &:hover .menuContainer__article--suggestCheck {
                display: flex;
                align-items:center;
                border-radius: 0 15px 15px 0;
                justify-content: center;
                background-color: #99E2D0;
                width: 75px;
                height: inherit;
                color: white;
                animation: width 0.5s ease forwards;
            }
            @keyframes width {
                0% {
                    right: -40px;
                }
                100% {
                    right: 0%;
                }
            }
        }
    }
}
.btn {
    width: 186px;
    margin-bottom: 40px;
}