$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$icon-color: #7E7E7E;
$primary-font: 'Roboto';
$special-font: 'Shrikhand', sans-serif;

* {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 113px;
    & .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55%; 
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        & h1 {
            font-family: $special-font;
            font-size: 30px;
        }
    }   
    & .searchBar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        height: 45%;
        & form {
            display: flex;
            flex-direction: row;
            gap: 17px;
        }
        & input {
            border: none;
            width: 110px;
            background-color: #EAEAEA;
            color: black;
            font-size: 16px;
            &::placeholder {
                color: black;
                font-size: 16px;
            }
        }
    }
}

main {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & .infoGroup {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        padding: 30px 0;
        align-items: center;
        
        & .infoGroup__infoText {
            text-align: center;
        }
        
        & .infoGroup__title {
            font-size: 24px;
            font-weight: 700;
        }
            
        & .infoGroup__subtitle {
            font-size: 18px;
            font-weight: 300;
        }
        
        & .infoGroup__btn {
            color: white;
            background: linear-gradient($second-color, $main-color);
            width: 58%;
            height: 50px;
            border-radius: 25px;
            border: none;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            margin: 20px 0;
            font-size: 16px;
        } 
    }
    
    & .howTo {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 48px 0 68px;
        
        &__title {
            font-size: 24px;
            font-weight: 700;
            padding-left: 20px;
        }
        
        & .howTo__articleContainer {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            align-items: center;
            gap: 25px;
            margin-top: 26px;
            
            & .howTo__article {
                background-color: #F6F6F6;
                display: flex;
                flex-direction: row;
                width: 85%;
                height: 72px;
                border-radius: 20px;
                align-items: center;
                gap: 20px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                
                & .howTo__article--number {
                    height: 20px;
                    width: 20px;
                    border-radius: 100%;
                    background-color: $main-color;
                    text-align: center;
                    margin-left: -10px;
                    color: white;
                }
                
                & .howTo__article--icon {
                    color: $icon-color;
                    
                }
                
                &:hover .howTo__article--icon {
                    color: $main-color;
                    
                    }
            }
        }
        
    }
    & .restaurants {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 54px 0 66px;
        
        &__title {
            font-size: 24px;
            font-weight: 700;
            padding-left: 20px;
        }
        
        & .restaurant__articleContainer {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            align-items: center;
            gap: 25px;
            margin-top: 26px;
            
            & .restaurant__article {
                background-color: white;
                display: flex;
                flex-direction: column;
                width: 91%;
                height: 250px;
                border-radius: 15px;
                align-items: center;
                gap: 18px;
                
                &--img {
                    object-fit: cover;
                }
            }
        }
    }
}