.loaderContainer {
	 position: absolute;
	 display: flex;
	 background-color: white;
	 width: 100%;
	 height: 100%;
	 z-index: 2;
	 align-items: center;
	 justify-content: center;
	 animation: scaleAnimation 0s ease-in 2s forwards;
}
 .loaderContainer__img {
	 color: #9356dc;
}
 @keyframes scaleAnimation {
	 0% {
		 transform: scale(1);
	}
	 100% {
		 transform: scale(0);
	}
}
/* SearchBar */
 .searchBar {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background-color: #eaeaea;
	 height: 45%;
     z-index: 0;
}
 .searchBar i {
    color: #353535;
}
 .searchBar form {
	 display: flex;
	 flex-direction: row;
	 gap: 17px;
}
 .searchBar input {
	 border: none;
	 width: 110px;
	 background-color: #eaeaea;
	 color: black;
	 font-size: 16px;
}
 .searchBar input::placeholder {
	 color: black;
	 font-size: 16px;
}
/* InfoGroup */
 .infoGroup {
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 gap: 15px;
	 padding: 30px 0;
	 align-items: center;
}
 .infoGroup__infoText {
	 text-align: center;
}
 .infoGroup__title {
	 font-size: 24px;
	 font-weight: 700;
}
 .infoGroup__subtitle {
	 font-size: 18px;
	 font-weight: 300;
     color: #353535;
}
 .infoGroup__btn {
	 width: 58%;
}
/* How To */
 .howTo {
	 background-color: white;
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 padding: 48px 0 68px;
}
 .howTo__container {
	/* How To cards */
}
 .howTo__containerTitle {
	 font-size: 24px;
	 font-weight: 700;
	 padding-left: 20px;
}
 .howTo__containerArticleContainer {
	 display: flex;
	 flex-direction: column;
	 align-content: flex-start;
	 align-items: center;
	 gap: 25px;
	 margin-top: 26px;
}
 .howTo__containerArticleContainer .howTo__article {
	 background-color: #f6f6f6;
	 display: flex;
	 flex-direction: row;
	 width: 85%;
	 height: 72px;
	 border-radius: 20px;
	 align-items: center;
	 gap: 20px;
	 box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
	/* How To steps */
	/* How To icons */
}
 .howTo__containerArticleContainer .howTo__article--number {
	 height: 20px;
	 width: 20px;
	 border-radius: 100%;
	 background-color: #9356dc;
	 text-align: center;
	 margin-left: -10px;
	 color: white;
}
 .howTo__containerArticleContainer .howTo__article--icon {
	 color: #7e7e7e;
}
.howTo__containerArticleContainer .howTo__article--h3 {
    font-size: 16px;
    font-weight: 500;
}
 .howTo__containerArticleContainer .howTo__article:hover .howTo__article--icon {
	 color: #9356dc;
}
/* Restaurants Part */
 .restaurants {
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 padding: 54px 0 66px;
	/* Restaurant card */
}
 .restaurants__title {
	 font-size: 24px;
	 font-weight: 700;
	 padding-left: 20px;
}
 .restaurants__articleContainer {
	 display: flex;
	 flex-direction: column;
	 align-content: flex-start;
	 align-items: center;
	 gap: 25px;
	 margin-top: 26px;
	 width: 100%;
}
 .restaurants__articleContainer .restaurants__article {
	 background-color: white;
	 color: black;
	 text-decoration: none;
	 display: flex;
	 flex-direction: column;
	 width: 91%;
	 height: 250px;
	 border-radius: 15px;
	 align-content: flex-start;
	/* Badge New */
	/* Restaurant informations */
}
 .restaurants__articleContainer .restaurants__article--img {
	 object-fit: cover;
	 height: 69%;
	 width: 100%;
	 border-radius: 15px 15px 0 0;
}
 .restaurants__articleContainer .restaurants__article--badgeContainer {
	 display: flex;
	 position: absolute;
	 align-items: flex-end;
	 width: inherit;
	 height: 50px;
	 justify-content: flex-end;
}
 .restaurants__articleContainer .restaurants__article--badgeContainer .restaurants__article--newBadge {
	 display: flex;
	 height: 30px;
	 width: 80px;
	 background-color: #99e2d0;
	 color: #278870;
	 font-size: 14px;
	 font-weight: 500;
	 position: absolute;
	 align-items: center;
	 justify-content: center;
	 border-radius: 3px;
	 margin-right: 12px;
}
 .restaurants__articleContainer .restaurants__article--content {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 padding: 16px 13px 12px;
	/* Like Button */
}
 .restaurants__articleContainer .restaurants__article--content .restaurant__article--text {
	 display: flex;
	 flex-direction: column;
     gap: 2px;
}
 .restaurants__articleContainer .restaurants__article--content .restaurant__article--text .restaurant__article--title {
	 font-size: 18px;
	 font-weight: 700;
}
 .restaurants__articleContainer .restaurants__article--content .restaurant__article--text .restaurant__article--subtitle {
	 font-size: 17px;
	 font-weight: 300;
}
 .restaurants__articleContainer .restaurants__article--content .restaurant__article--like {
	 display: flex;
	 align-self: center;
	 width: 25px;
	 height: 25px;
}
 .restaurants__articleContainer .restaurants__article--content .restaurant__article--like .unfilledHeart, .restaurants__articleContainer .restaurants__article--content .restaurant__article--like .fullHeart {
	 position: absolute;
	 color: #9356dc;
	 background-color: white;
	 display: block;
	 transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
 .restaurants__articleContainer .restaurants__article--content .restaurant__article--like .fullHeart {
	 opacity: 0;
	 transform: scale(0);
}
 .restaurants__articleContainer .restaurants__article--content .restaurant__article--like:hover {
	 font-weight: bold;
	 cursor: pointer;
}
 .restaurants__articleContainer .restaurants__article--content .restaurant__article--like:hover .fullHeart {
	 opacity: 1;
	 transform: scale(1);
}
 .restaurants__articleContainer .restaurants__article--content .restaurant__article--like:hover .unfilledHeart {
	 opacity: 0;
}
 