@media (min-width: 768px) {
	/* Fixing btn size on Desktop/Tablet */
	/* Calibrating howto part for Desktop/Tablet */
	/* Calibrating restaurants articles for Desktop/Tablet */
	/* Calibrating footer for Desktop/Tablet */
	 .infoGroup__btn {
		 width: 218px;
	}
	 .howto {
		 width: 100%;
		 align-items: center;
	}
	 .howto__container {
		 width: 67%;
	}
	 .howto__containerTitle {
		 display: flex;
	}
	 .howto__containerArticleContainer {
		 flex-direction: row;
		 gap: 36.5px;
	}
	 .restaurants__articleContainer {
		 flex-direction: row;
		 flex-wrap: wrap;
		 justify-content: center;
		 gap: 0;
		 grid-row-gap: 50px;
		 grid-column-gap: 100px;
	}
	 .restaurants__articleContainer .restaurants__article {
		 width: 35%;
	}
	 .menuContainer {
		 width: 64%;
	}
	 .menuContainer__header {
		 justify-content: center;
	}
	 .footer__list {
		 flex-direction: row-reverse;
	}
	 .footer__list--title {
		 padding: 0;
	}
	 .footer__list--container {
		 flex-direction: row;
		 justify-content: flex-end;
		 width: 89%;
	}
	 .footer__list--container li {
		 align-items: center;
	}
	 .footer__list--container li .footer__list--liText {
		 width: 100%;
		 gap: 0;
		 padding-right: 15px;
	}
	 .footer__list--container li .footer__list--liThiner {
		 padding-right: 30px;
	}
}
 