* {
	 margin: 0;
	 padding: 0;
	 font-family: 'Roboto';
}
/* Header */
 header {
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 height: 113px;
}
 .logo {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 55%;
	 box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
 .logo h1 {
	 font-family: 'Shrikhand', sans-serif;
	 font-size: 30px;
}
/* Main */
 main {
	 background-color: #f6f6f6;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 .btn {
	 display: flex;
	 align-items: center;
	 color: white;
	 text-decoration: none;
	 text-align: center;
	 justify-content: center;
	 height: 50px;
	 border-radius: 25px;
	 border: none;
	 box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	 margin: 20px 0;
	 font-size: 16px;
     background: linear-gradient(#ff79da, #9356dc);
}
.btn:hover {
    animation: btnAnimation 0.2s ease-in-out forwards;
}

@keyframes btnAnimation {
    0% {
        background: linear-gradient(#ff79da, #9356dc);
    }
    25% {
        background: linear-gradient(#ff79da 5%, #9356dc 100%);
    }
    50% {
        background: linear-gradient(#ff79da 15%, #9356dc 100%);
    }
    75% {
        background: linear-gradient(#ff79da 20%, #9356dc 100%);
    }
    100% {
        background: linear-gradient(#ff79da 25%, #9356dc 100%);
    }
}

/* Footer */
 footer {
	 background-color: #353535;
}
 .footer__list {
	 display: flex;
	 flex-direction: column;
	 padding: 22px 25px;
	 gap: 7px;
	/* Footer Links */
}
 .footer__list--title {
	 display: flex;
	 align-items: center;
	 color: white;
	 font-size: 25px;
	 padding-bottom: 9px;
	 font-family: 'Shrikhand', sans-serif;
}
 .footer__list--container {
	 display: flex;
	 flex-direction: column;
	 gap: 5px;
}
 .footer__list--container li {
	 display: flex;
	 list-style: none;
	 color: white;
	 gap: 11px;
}
 .footer__list--container li .fa-solid {
	 width: 11px;
	 height: 13px;
}
 .footer__list--container li .footer__list--liText {
	 color: white;
	 font-weight: 500;
	 font-size: 16px;
}
 .footer__list--container li .footer__list--liThiner {
	 font-weight: 400;
}
 .footer__list--container li a {
	 text-decoration: none;
}
 